<header>

    {{ section.settings.logo | image_url: width: 150 | image_tag }}

    <nav>
        <ul>
            {% for link in section.settings.main_menu.links %}
                <li>
                    <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>

</header>

{{ 'header.css' | asset_url | stylesheet_tag }}

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "label": "Logo",
            "id": "logo",
            "type": "image_picker"
        },
        {
            "label": "Main Menu",
            "id": "main_menu",
            "type": "link_list"
        }
    ],
    "presets": [
        {
            "name": "Header"
        }
    ]
}
{% endschema %}