<div class="container navbar">
    <a href="/" class="logo">
        {% render 'site-logo' %}
    </a>

    <nav>
        <ul>
            {% for link in section.settings.main_menu.links %}
                <li>
                    <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    <a href="{{ routes.cart_url }}">
        {% render 'icon-cart' %}
    </a>
</div>

{{ 'header.css' | asset_url | stylesheet_tag }}

{% schema %}
{
    "name": "Header",
    "tag": "header",
    "settings": [
        {
            "label": "Main Menu",
            "id": "main_menu",
            "type": "link_list"
        }
    ],
    "presets": [
        {
            "name": "Header"
        }
    ]
}
{% endschema %}

