header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    /* background-color: rgba(var(--cod-gray), 1); */
    color: white;
    z-index: 20;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
    border-bottom: 1px solid white;
}

header .logo {
    display: block;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2rem;
}

header nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
}